extends base.pug
block scripts 
   script(src='/static/index.js')

block style 
    style 
       include ../static/style.css 
       include ../static/about.css
block content
    div#main
       div.heading
          h1 ABOUT US: 
          h3 Introducing a performance space for artists to build, share and grow together and is curated for the artists' community to showcase the purest form of their creativity. 
          p Dance Academy is home to all dancers to explore the best in them no matter what their age and experience is. We believe in providing world class dance education which enables our students to become performers of global standards. We are offering training programs which students can customise as per their interests from 20 different dance styles. We strive to offer a positive environment for dancers to grow and have a great learning experience. 
       div.middle
          h4 PHOTO GALLERY
          div.image