extends base.pug

block scripts 
   script(src='/static/index.js')

block style 
    style 
       include ../static/style.css
       include ../static/contact.css

block content
       div#main
         div.heading
            h1 For more query: 
            h3 Call or Message @ 8929933514 and @ 9625167332
         div#photo
           div.gallery
            