extends base.pug

block scripts 
   script(src='/static/index.js')

block style 
    style 
       include ../static/style.css
       include ../static/info.css

block content
      div#main
         div.heading
            |Know About Us..
         div#img
            | "We are not just an academy, We are an experience."
         p We have been honored as first online dance academy.
         p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas nihil, porro natus magni saepe quo impedit earum, enim adipisci, non nesciunt? Eligendi nesciunt laborum, ratione quidem architecto voluptatum neque inventore. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam ea architecto, incidunt odio nostrum sunt quasi hic distinctio quo placeat! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam deleniti doloribus unde vitae earum eos id culpa, ratione nisi mollitia perferendis quae repellendus fugiat consequatur quod quisquam nulla assumenda! Animi ab eos dolorum delectus perferendis ut eum vitae recusandae ex eligendi ipsum sint doloremque, nemo libero alias quasi provident sunt.
         